@charset 'UTF-8';

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

h2 > a:hover {
  color: #000;
}
h2 > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
h2 > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
h1{
	
	color: #288145;
	font-family: "Arial";
	font-size: 100px;
	display:inline-block;
	padding: 0px;
	text-decoration:underline;
	background-size: 0px;
	text-decoration-color: #F29559;
	background-color: #F29559;
	margin-bottom: 0px;
}

h1:hover{
	background
}


p{
	
}

.icon{
	height: 50px;
	width: 50px;
}

.container-fluid{
	background-color: grey;
}

.navbar-nav{
	align-items: center;
	display: inline;
	z-index: 99;
	background-color: white;
	height: 100px;
	
	

/*  animation-name: navMove;
	animation-duration: 2s;
	transition: 1s;          */
}

.profilePic{
	width: 400px;
	height: 533.33px;
	border: 2px solid black;
	padding: 15px;
}

.container-fluid{
	background-color: white;
}

.NavButton1{
	z-index: 2;
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	height: 25px;
	width: 25px;
	border: 2px solid black;
	border-radius: 50%;
	transition: 1s;
	
}
.NavButton1:hover{
	background-color: black;
}
.NavButton1:focus{
	background-color: black;
}

.nav-item{
	padding-left: 50%;
	padding-right: 50%;
}

.nav-link{
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}

.nav-link:hover{
	color:#70AE6E;
	
}
.navElementContainer{
	
}

.homeRow{
	backface-visibility: hidden;
	
}

.homeCol{
	border: 3px solid black;
}
.galleryCol{
	width: 300px;
	height: 300px;
	justify-content: center;
	border: 3px solid black;
}

.galleryRow{
	height: 500px;
	padding: 20px;
}
body{
	margin: 30px;
}

.WebContainer{
	width: 100%;
    height: auto;
}

.buttonContainer{
	list-style-type: none;
	display: inline;
}

